In [5]:
import io
import pandas
import scipy
import seaborn

print(seaborn.__version__)

0.10.1

Para comenzar, en el archivo headers.csv tenemos el dataset con sólo una respuesta, que usamos como base para rellenar nuestro formulario

In [6]:
df = pandas.read_csv('../datos/headers.csv')

In [7]:
df

,Marca temporal,¿Con qué género te identificás?,¿Qué edad tenés?,¿De qué signo sos?,¿A qué te dedicás?,¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?,¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?
0,31/03/2020 17:10:01,Mujer,27,Tauro,Programadora,40000,80000

## Agregando valores


Para trabajar más cómodamente, renombraremos las columnas de DataFrame. Tengan cuidado de que el orden de los nombres nuevos se corresponda con el contenido de cada columna.

In [ ]:
df.columns = ['timestamp', 'gender', 'age', 'zodiac_sign', 'profession', 'junior_programmer_salary', 'senior_programmer_salary']

In [ ]:
df

             timestamp  ... senior_programmer_salary
0  31/03/2020 17:10:01  ...                    80000

[1 rows x 7 columns]

## Distintas distribuciones para distintos datos

In [ ]:
import numpy 

N = 100

new_data = {}
new_data['gender'] = numpy.random.choice(
    ['Mujer', 'Varon', 'Otro', 'Prefiero no decirlo'], size=N,
    p=[0.3, 0.65, 0.01, 0.04])
new_data['age'] = numpy.random.normal(35, 15, size=N).astype(numpy.int32)
new_data['zodiac_sign'] = numpy.random.choice(
    ['Aries', 'Tauro', 'Géminis', 'Cáncer', 'Leo', 'Virgo', 'Libra', 'Escorpio',
     'Sagitario', 'Capricornio', 'Acuario', 'Picis'], size=N)
new_data['profession'] = numpy.random.choice(
    ['Programador', 'Profesor', 'Maestra', 'Profesora', 'Contador', 'Contadora',
     'Ingeniero', 'Economista', 'Estudiante', 'Matemático', 'Matemático',
     'Físico', 'Física'], size=N)
round_100 = lambda x: int(int(x) / 100) * 1000
new_data['junior_programmer_salary'] = numpy.vectorize(round_100)(
    numpy.random.lognormal(mean=8.15, sigma=0.25, size=N))
new_data['senior_programmer_salary'] = numpy.vectorize(round_100)(
    numpy.random.lognormal(mean=9, sigma=0.35, size=N))
new_df = pandas.DataFrame(new_data)
new_df

                 gender  ...  senior_programmer_salary
0   Prefiero no decirlo  ...                    149000
1                 Mujer  ...                     74000
2                 Varon  ...                     75000
3                 Varon  ...                    127000
4                 Varon  ...                     84000
..                  ...  ...                       ...
95                Varon  ...                     68000
96                Varon  ...                     52000
97                Varon  ...                     48000
98                Varon  ...                     76000
99                Mujer  ...                    121000

[100 rows x 6 columns]

# Save dataset

In [ ]:
from google.colab import files
new_df.to_csv('generated_dataset.csv') 
files.download('generated_dataset.csv')